@page "/testrepo"
@rendermode InteractiveServer

<PageTitle>Test Repository</PageTitle>

<h1>Test Repository</h1>

<button class="btn btn-primary" @onclick="FetchDocument">Click me</button>

<button class="btn btn-primary" @onclick="UploadDocument">Upload</button>